.background {
    background: linear-gradient(180deg, #023047 0%, #000000 100%);
    min-width: 100vw;
    min-height: 100vh;
}
 
.content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header_main_page {
    display: flex;
    flex-wrap: wrap;
    padding-top: 124px;
    align-items: center;    
    justify-content: space-between;
}

@media (max-width: 400px)
{
  *
   {
    font-size: 12px;
   }
}

 
@media (max-width: 600px)
{
  .header_main_page
   {
    justify-content: center;
   }
}

.body_main_page {
    display: flex;
    justify-content: center;
}

.main-content {
    padding-top: 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 43.5%;    
}

a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #FFB703;

    text-decoration: none;
}

.Artista {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    color: #FFFFFF;
}

.Musica {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    color: #FFFFFF;
}

.Input_Artista {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */
    background-color: transparent;
    color: white;
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 40px;
}

.Input_Musica {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */
    background-color: transparent;
    color: white;
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
}

.Titulo {
    margin-bottom: 90px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
} 

.inputButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 2%;
    background-color: transparent;

    border: 2px solid #FFB703;
    border-radius: 4px;
    color: white;
}

#Lupa_main
{
    margin-right: 10px;
}

.LastSearchFormatation {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FFB703;
}

.input_button_menu{

    padding-top: 100px;
    display: flex;
    justify-content: center;
}