.background {
    background: linear-gradient(180deg, #023047 0%, #000000 100%);
    width: 100vw;
    height: 100vh;
}

.content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header_main_page {
    display: flex;
    padding-top: 124px;
    align-items: center;
    justify-content: space-between;
}

.body_main_page {
    display: flex;
    justify-content: center;
}

.main-content {
    padding-top: 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 43.5%;    
}

a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    
    color: #FFB703;

    text-decoration: none;
}

.Artista {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    color: #FFFFFF;
}

.Musica {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */
    color: #FFFFFF;
}

.Input_Artista {


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */

    color: #828282;
}

.Input_Musica {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */

    color: #828282;

}

.Titulo {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

.inputButton {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #FFB703;
    border-radius: 4px;
}

.LastSearchFormatation {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FFB703;
}

.height_search_button_main_page{
    padding-top: 100px;
}