.last_searchs{
  color: #FFB703;
  font-size: 2em;
  top: 100px;
  left: 1400px;
  position: absolute;
  background-color: transparent;
  border:none;
}

.logo_image{
  height: 40px;
  width: 200px;
  top: 80px;
  left: 100px;
  position: absolute;
}

.title{
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
  height: 100px;
  width: 700px;
  top: 200px;
  left: 760px;
  position: absolute;
}

.artist{
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  top: 400px;
  left: 600px;
  position: absolute;
}

.artist_input{
  width: 600px;
  top: 430px;
  left: 600px;
  position: absolute;

}

.music{
  color: rgb(255, 255, 255);
  top: 500px;
  left: 600px;
  position: absolute;
}

.music_input{
  width: 600px;
  top: 530px;
  left: 600px;
  position: absolute;
}

.page{
  background-image: linear-gradient(to bottom, #023047, #000000);
  width: 1920px;
  height: 980px;
}

.input_button{
  top: 600px;
  left: 800px;
  width: 200px;
  height: 50px;
  position: absolute;
  background-color: transparent;
  border-color: #FFB703;
  border-radius: 0%;
  border-style: outset;
}

.input_image_main_page{
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 50px;
  width: 25px;
  height: 25px;
}

.input_text_main_page{
  display: inline-block;
  position: absolute;
  color: #FFB703;
  top: 5px;
  left: 85px;
  width: 40px;
  height: 40px;
}
